<h4 class="component-header">Probable Pitchers</h4>
<div class="teams">
  <div class="team away-team">
    <div class="image-container">
      {{#unless model.awayProbablePitcherPhoto}}
        <img src="assets/images/no-photo.png" class="no-photo" />
      {{/unless}}
    </div>
    <div class="player-metadata">
      <h3 class="team-header">{{format-name firstName=model.awayProbablePitcher.first lastName=model.awayProbablePitcher.last}}</h3>
      <p class="metadata">({{model.awayProbablePitcher.wins}}-{{model.awayProbablePitcher.losses}}, {{model.awayProbablePitcher.era}})</p>
    </div>
  </div>

  <div class="team home-team">
    <div class="image-container">
      {{#unless model.homeProbablePitcherPhoto}}
        <img src="assets/images/no-photo.png" class="no-photo" />
      {{/unless}}
    </div>
    <div class="player-metadata">
      <h3 class="team-header">{{format-name firstName=model.homeProbablePitcher.first lastName=model.homeProbablePitcher.last}}</h3>
      <p class="metadata">({{model.homeProbablePitcher.wins}}-{{model.homeProbablePitcher.losses}}, {{model.homeProbablePitcher.era}})</p>
    </div>
  </div>
</div>
