<div class="players">
  <div class="winning-pitcher">
    <h5 class="label">Win</h5>
    <div class="player">
      <div class="image-container">
        <img src="assets/images/no-photo.png" class="no-photo" />
      </div>
      <div class="player-data">
        <p class="copy">{{format-name firstName=model.winningPitcher.first lastName=model.winningPitcher.last}}</p>
        <span class="metadata">({{model.winningPitcherWins}}-{{model.winningPitcherLosses}}, {{model.winningPitcherERA}} ERA)</span>
      </div>
    </div>
  </div>
  <div class="losing-pitcher">
    <h5 class="label">Loss</h5>
    <div class="player">
      <div class="image-container">
        <img src="assets/images/no-photo.png" class="no-photo" />
      </div>
      <div class="player-data">
        <p class="copy">{{format-name firstName=model.losingPitcher.first lastName=model.losingPitcher.last}}</p>
        <span class="metadata">({{model.losingPitcherWins}}-{{model.losingPitcherLosses}}, {{model.losingPitcherERA}} ERA)</span>
      </div>
    </div>
  </div>
  {{#if model.hasSavePitcher}}
    <div class="save-pitcher">
      <h5 class="label">Save</h5>
      <div class="player">
        <div class="image-container">
          <img src="assets/images/no-photo.png" class="no-photo" />
        </div>
        <div class="player-data">
          <p class="copy">{{format-name firstName=model.savePitcher.first lastName=model.savePitcher.last}}</p>
          <span class="metadata">({{model.savePitcherSaves}})</span>
        </div>
      </div>
    </div>
  {{/if}}
</div>
