<thead>
  <th class="game-status">
    <h4 class="component-header">{{model.time}} {{model.ampm}} {{model.timeZone}} <i>at {{model.venue}} in {{model.location}}</i></h4>
  </th>
</thead>
<tbody class="teams">
  <tr class="team away-team">
    <div class="image-container">
      {{#if model.awayTeamLogo}}
        <img src={{model.awayTeamLogo}} class="team-logo" />
      {{/if}}
      {{#unless model.awayTeamLogo}}
        <img src="assets/images/no-photo.png" class="no-logo" />
      {{/unless}}
    </div>
    <div class="team-metadata">
      <h3 class="team-header">{{model.awayTeamName}}</h3>
      <p class="metadata">({{model.awayTeamWins}}-{{model.awayTeamLosses}})</p>
    </div>
  </tr>

  <tr class="team home-team">
    <div class="image-container">
      {{#if model.homeTeamLogo}}
        <img src={{model.homeTeamLogo}} class="team-logo" />
      {{/if}}
      {{#unless model.homeTeamLogo}}
        <img src="assets/images/no-photo.png" class="no-logo" />
      {{/unless}}
    </div>
    <div class="team-metadata">
      <h3 class="team-header">{{model.homeTeamName}}</h3>
      <p class="metadata">({{model.homeTeamWins}}-{{model.homeTeamLosses}})</p>
    </div>
  </tr>

</tbody>
